@{
    ViewBag.Title = "About";
}

<script>
    $("#locBar").append("<span>About</span>")
</script>

<h2>About IDAM</h2>
<h3>@ViewBag.Message</h3>

<p>IDAM is a Digital asset management system, which enables individuals to save and retrieve assets easily. It's easier than traditional file system to navigate the projects, categories, assets and components</p>
