@{
    ViewBag.Title = "Contact";
}

<script>
    $("#locBar").append("<span>Contact</span>")
</script>

<h2>Contact IDAM Team</h2>
<h3>@ViewBag.Message</h3>

<address>
    ICE Animations, 1st Floor, Bahria Complex IV, Chaudhary Khaliq-uz-Zamman Road, Gizri, Karachi
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:qurban_ali36@yahoo.com">Developer (Qurban Ali)</a><br />
</address>